<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freelancer | Online Jobs | Freelance Employment | Outsourcing Services | Programmers | Web Design |
        Freelancers</title>
</head>
<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }
</style>
<link rel="icon" href="https://www.freelancer.com/favicon.ico" type="image/ico">
<link rel="shortcut icon" href="https://www.freelancer.com/favicon.ico">

<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="http://m.freelancer.com" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%"
        width="100%"></iframe> 

</body>


</html>